<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="logo">
            <i class="fa-sharp fa-solid fa-note-sticky"></i>
            <b>{{.Site.Title}}</b>
        </a>
        <ul>
            <li>
                <a href="/posts/">
                    <i class="fas fa-rss"></i>
                    <b>Blogs</b>
                </a>                
            </li>
            <li>
                <a href="/tags/">
                    <i class="fa-solid fa-hashtag"></i>
                    <b>Terms</b>
                </a>                
            </li>
            <li>
                <a href="/categories/">
                    <i class="fa-solid fa-table"></i>
                    <b>Categories</b>
                </a>                
            </li>
        </ul>
        <div class="phone-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</nav>
